<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="footer">
    <div class="videoDiv">
        <video [src]="vdbg" loop autoplay muted type="video/mp4" ></video>
    </div>

    <div class="secContent container">
        <div class="contactDiv flex">
            <div data-aos="fade-up" class="text">
                <small>KEEP IN TOUCH</small>
                <h2>Travel with us</h2>
            </div>

            <div class="inputDiv flex">
                <input data-aos="fade-up" type="text" placeholder="Enter Email Address">
                <button data-aos="fade-up" class="btn flex" type="submit">
                    <i class="material-icons icon">send</i>
                </button>
            </div>
        </div>

        <div class="footerCard flex">
            <div class="footerIntro flex">
                <div class="logoDiv">
                    <a href="#" class="logo flex">
                        <i class="icon"><fa-icon [icon]="faEarth"></fa-icon></i>
                        WeGo.
                    </a>
                </div>

                <div data-aos="fade-up" class="footerParagraph">
                    fjkgh jkfhgkljsdfhg fjgkhsfkjgh sfgjkhfsdkgh fjskglhsfdk jkfhgkjdf hfsghjks.
                </div>

                <div data-aos="fade-up" class="footerSocials flex">
                    <i class="icon" ><fa-icon [icon]="faFacebook"></fa-icon></i>
                    <i class="icon" ><fa-icon [icon]="faInstagram"></fa-icon></i>
                    <i class="icon" ><fa-icon [icon]="faYoutube"></fa-icon></i>
                    <i class="icon" ><fa-icon [icon]="faTwitter"></fa-icon></i>
                </div>
            </div>

            <div class="footerLinks grid">
                <!-- Group one -->
                <div data-aos="fade-up" data-aos-duration="3000" class="linkGroup">
                    <span class="groupTitle">
                        OUR AGENCY
                    </span>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Services
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Insurance
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Agency
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Tourism
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Payment
                    </li>
                </div>

                <!-- Group two -->
                <div data-aos="fade-up" data-aos-duration="4000" class="linkGroup">
                    <span class="groupTitle">
                        PARTNERS
                    </span>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Bookings
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        AcaCamps
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        HostelWorld
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Trivago
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Rentcars
                    </li>
                </div>

                <!-- Group Three -->
                <div data-aos="fade-up" data-aos-duration="5000" class="linkGroup">
                    <span class="groupTitle">
                        LAST MINUTE
                    </span>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        London
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Paris
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Turkey
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Europe
                    </li>
                    <li class="footerList flex">
                        <i class="icon" ><fa-icon [icon]="faArrowRight"></fa-icon></i>
                        Rome
                    </li>
                </div>
            </div>

            <div class="footerDiv flex">
                <small>BEST TRAVEL WEBSITE  </small>
                <small>
                    COPYRIGHTS RESERVED - SONL 2023 
                    <i class="icon" ><fa-icon [icon]="faCopyright"></fa-icon></i>
                </small> 
            </div> 

            
        </div>


    </div>
</section>