<div class="home">
  <div class="homeText">
    <span data-aos="fade-up" data-aos-duration="2000" class="spanText">
      Welcome
    </span>

    <div data-aos="fade-up" data-aos-duration="4000" class="homeTitle">
      Trust <strong>Our Experience</strong>
    </div>

    <div data-aos="fade-up" data-aos-duration="6000" class="btn">
      Get In Touch
    </div>
  </div>
</div>

<div class="cards">
  <div
    data-aos="fade-up"
    data-aos-duration="2000"
    class="cardContainer container grid"
  >
    <div class="singleCard">
      <div class="imgDiv">
        <img src="{{ cardImage1 }}" />
      </div>
      <h4 class="textDiv">Camping</h4>
    </div>

    <div class="singleCard">
      <div class="imgDiv">
        <img src="{{ cardImage2 }}" />
      </div>
      <h4 class="textDiv">Mountain Tours</h4>
    </div>

    <div class="singleCard">
      <div class="imgDiv">
        <img src="{{ cardImage3 }}" />
      </div>
      <h4 class="textDiv">Beach Travels</h4>
    </div>
  </div>

  <div class="spanText flex">
    Other Tours <i class="icon"><fa-icon [icon]="faExchangeAlt"></fa-icon></i>
  </div>
</div>

<div class="tours container section">
  <div class="secContainer">
    <span class="secTitle"> Hot Tours </span>

    <div class="tourContainer">
      <div data-aos="fade-up" data-aos-duration="2000" class="singleTour grid">
        <div class="imgDiv">
          <img src="{{ tourImage1 }}" />
        </div>
        <div data-aos="fade-up" data-aos-duration="3000" class="tourInfo">
          <span class="tourTitle"> France, Paris </span>
          <div class="stars_review flex">
            <div class="stars">
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
            </div>

            <small class="custReview"> 1 Customer Review </small>
          </div>

          <p>
            The City of Light needs no introduction. Paris has it all:
            world-famous landmarks, museums, galleries, food, wine, and romantic
            walks along the Seine river.
          </p>
          <button class="btn">Buy This Tour</button>
        </div>

        <span class="price"> $800 </span>
      </div>

      <div data-aos="fade-up" data-aos-duration="3000" class="singleTour grid">
        <div class="imgDiv">
          <img src="{{ tourImage2 }}" />
        </div>
        <div data-aos="fade-up" data-aos-duration="3500" class="tourInfo">
          <span class="tourTitle"> Australia, Sydney </span>
          <div class="stars_review flex">
            <div class="stars">
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
              <i class="icon"><fa-icon [icon]="faStar"></fa-icon></i>
            </div>

            <small class="custReview"> 2 Customer Review </small>
          </div>

          <p>
            Sydney is a vibrant city with a stunning harbour, beautiful beaches,
            and a laid-back lifestyle. It is a perfect destination for a beach
            holiday.
          </p>
          <button class="btn">Buy This Tour</button>
        </div>

        <span class="price"> $900 </span>
      </div>
    </div>
  </div>
</div>

<div class="discount section">
  <div class="secContainer">
    <video [src]="vddisc" muted autoplay loop typeof="mp4"></video>
    <div class="textDiv">
      <span data-aos="fade-up" data-aos-duration="2000" class="title">
        Sign Up for 30% Discount
      </span>
      <p data-aos="fade-up" data-aos-duration="2500">
        Want to get instat discount for your next tour to any of your favourite
        Tours.
      </p>

      <div data-aos="fade-up" data-aos-duration="3000" class="input_btn flex">
        <input type="text" placeholder="Enter Your Email" />
        <button class="btn">Subscribe</button>
      </div>
    </div>
  </div>
</div>

<div class="review section">
  <div class="secContainer">
    <span class="secTitle"> What People Say </span>

    <div class="reviewContainer container grid">
      <div data-aos="fade-up" data-aos-duration="3000" class="singleReview">
        <div class="imgDiv">
          <img src="{{ user1 }}" />
        </div>

        <p>
          I recently went on a camping tour with this travel website and it was
          an unforgettable experience. The tour guides were knowledgeable and
          friendly, and they did a great job of creating a fun and adventurous
          atmosphere.
        </p>

        <div class="name">Sawsen Wardi</div>
      </div>

      <div data-aos="fade-up" data-aos-duration="3500" class="singleReview">
        <div class="imgDiv">
          <img src="{{ user1 }}" />
        </div>

        <p>
          I recently went on a camping tour with this travel website and it was
          an unforgettable experience. The tour guides were knowledgeable and
          friendly, and they did a great job of creating a fun and adventurous
          atmosphere.
        </p>

        <div class="name">Sawsen Wardi</div>
      </div>

      <div data-aos="fade-up" data-aos-duration="4000" class="singleReview">
        <div class="imgDiv">
          <img src="{{ user1 }}" />
        </div>

        <p>
          I recently went on a camping tour with this travel website and it was
          an unforgettable experience. The tour guides were knowledgeable and
          friendly, and they did a great job of creating a fun and adventurous
          atmosphere.
        </p>

        <div class="name">Sawsen Wardi</div>
      </div>
    </div>
  </div>
</div>
